p{
	color:red;
}

.b{
	background-color:blue;
}

.h{
	color:green;
	font-size:50px;
}	

.f{
	color:white;
}

/*GRID*/

.hej{ grid-area:020002,main; }
.hej2{ grid-area:020002,header; }

.grid-container{
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: purple;
  padding: 10px;
}

.grid {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: black;
  padding: 10px;
}